.userExperience {
    height: 692px;
    background-image: url('../../assets/png/Rectangle\ 28.png');
    overflow: hidden;
    display: flex;
    flex-direction: column;
    

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1560px; // Ekranda 4 kartın sığabileceği maksimum genişlik
        padding: 49px 135px 62px 135px;
        &-title {
            color: #1E1E1E;
            font-weight: 600;
            font-size: 56px;
            line-height: 61.6px;
            font-family: "Chillax";

        }

        &-controls {
            display: flex;
            gap: 20px;
            flex-direction: row; // Oklar yan yana olacak şekilde düzenlendi
        }
        &-btn {
            margin-left: 10px;
            background-color: transparent;
            border: 2px solid #1E1E1E;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
        
            &:focus {
                outline: none;
            }
        }
    }

    &__wrapper {
        display: flex;
        gap: 26px;
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
        padding: 20px;
        cursor: grab;
        width: 100%;
        max-width: 1560px;
       
        &-title{
            font-family: "Chillax";
            font-weight: 600;
            font-size: 26px;
            line-height: 41.6px;
            margin-bottom: 16px;
        }


        &-card {
            width: 400px; // Kart genişliği
            height: 352px;
            background-color: white;
            opacity: 100%;
            border-radius: 16px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 50px 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 0 0 auto;


           &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }

          
            &:hover{
                width: 400px;
                height: 390px;
            }
        }

        &-p {
            font-size: 24px;
            line-height: 28.8px;
            font-weight: 400;
            font-family: "Urbanist";
            color: #1E1E1E;
        }

        &-desc {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
           
        }

        &-image {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            margin-bottom: 8px;
           
        }

        &-username {
            font-weight: 700;
            font-size: 18px;
            line-height: 28.8px;
            color: #1E1E1E;
            font-family: "Roboto";
        
          
        }
    }
}

.userExperience-wrapper::-webkit-scrollbar {
    display: none;
}