@import './styles/fonts.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  
  overflow-x: hidden;
}
.app{


  h2{
   margin-bottom: 80px;
   height: 78px;
   width: 774px;
   font-weight: 600;
   font-size: 56px;
   line-height: 78.4px;
   color: #1E1E1E;
   font-family: 'Chillax', sans-serif;

  }

}
