.mealSlider {
    height: 576px;
    background-color: #E1EEFF;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        //border: 2px solid #1E1E1E;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;

        &--left {
            left: 70px;
        }

        &--right {
            right: 70px;
        }

        img {
            width: 20px;
            height: 20px;
        }
    }

    &__wrapper {
        display: flex;
        gap: 20px;
        overflow-x: hidden;
        padding: 20px;
        cursor: grab;
        width: 100%;
        max-width: 1560px;

        &-card {
            width: 476px;
            height: 408px;
            background-size: cover;
            background-position: center;
            border-radius: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            scroll-snap-align: center;
            flex: 0 0 auto;
            position: relative;


            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }


            &--special {
                // background-color: #FDEED7;
            }
        }

        &-content {
            font-family: "Chillax";
            color: #1E1E1E;
            padding: 20px;
            border-radius: 0 0 10px 10px;
            display: flex;
            flex-direction: column;
            text-align: left;
        }

        &-title {
            font-size: 48px;
            font-weight: 600;
            line-height: 52.8px;
            margin: 0 0 10px;
        }

        &-subtitle {
            font-size: 32px;
            margin: 0 0 10px;
            line-height: 35.2px;
            font-weight: 500;


        }

        &-text {
            width: 411px;
            font-weight: 400;
            font-size: 18px;
            line-height: 25.2px;
            margin: 0 0 20px;

        }

        &-button {
            background-color: #FD853A;
            border: none;
            width: 220px; // Buton genişliği arttırıldı
            height: 58px;
            color: white;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            cursor: pointer;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: #f36914;
            }

            &-icon {
                margin-left: 10px; // İkonun buton metninden biraz uzaklaştırılması
                width: 15px;
                height: 15px;
            }
        }
    }
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;

}

.mealSlider__wrapper::-webkit-scrollbar {
    display: none;
}